* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none; 
}

.welcome-wrap {
    background-image: url(img/top.jpg); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 40px;
}

.welcome {
    margin: 0 auto;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding-bottom: 493px;
}

.welcome__heading {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 18px;
    max-width: 760px;
}

.welcome__text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 44px; 
    max-width: 480px;
}

.welcome__text-bold {
    font-weight: 700;
}

.button {
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 49px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
    transition: all .3s;
    cursor: url(img/cursor.svg), pointer;	
}

.button:hover {
    background: #EB443F;
}

.games-wrap {
    background-color: #000915;
    background-size: 100% 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.games {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 128px;
    padding-bottom: 128px;
}

.game {
    position: relative;
    width: 379px;
    height: 300px;
}

.game__img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.game__img:hover {
    outline: 3px solid #44D2FF;
    cursor: url(img/cursor.svg), pointer;
}

.game__text {
    position: absolute;
    top: 236px;
    left: 32px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    box-sizing: border-box;
    cursor: url(img/cursor.svg), pointer;
}

.game-seasons {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 135px;
    padding-top: 234px;
    padding-bottom: 234px;
}

.game-seasons__content {
    width: 584px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.game-seasons__heading {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 377px;
}

.game-seasons__text {
    width: 584px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}



@media (min-width: 320px) and (max-width: 767px) {

    .welcome {
        background: url(img/mob_top.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 735px;
        gap: 33px;
        padding-bottom: 0;
        padding-top: 239px;
        align-items: center;    
        box-sizing: border-box;
        width: 100%;
    }

    .welcome__heading {
        max-width: 100%;
        font-size: 32px;
        width: 343px;
        text-align: center;
        padding-bottom: 0;
    }

    .welcome__text {
        max-width: 100%;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        padding-bottom: 0;
    }

    .games {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center
}

    .welcome-wrap,
    .games-wrap {
        padding-left: 16px;
        padding-right: 16px;
}

    .game {
        max-width: 100%;
}

    .game__text {
        left: 16px;
}

.game-seasons__content {
    max-width: 100%;
    align-items: center;
}

.game-seasons {
    padding-top: 51px;
    padding-bottom: 85px;
    align-items: center;    
    width: 100%;
    gap: 64px;
}

.game-seasons__heading {
    font-size: 32px;
}

.game-seasons__img {
    width: 344px;
    height: 236px;
}

.img {
    width: 100%;
    height: 100%;
}

.game-seasons__text {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    text-align: center;
}   
}
